<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">ATS</a>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/performance">Performance</a></li>
            <!-- <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li> -->
        </ul>
        <div class="navbar-search">
            <input type="text" placeholder="Search...">
            <button class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</nav>

