.dashboard {
    display: flex;
    height: 100vh;
}

.layout {
  flex: 1;
  background: #131722;
}

.react-grid-item {
  background: #1e222d;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #2a2e39;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

  