[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Automated_Trading_System/src
ExecStart=/home/ubuntu/Automated_Trading_System/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          Automated_Trading_System.wsgi:application
[Install]
WantedBy=multi-user.target