{% extends 'base.html' %}

{% block style %}
    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            background: linear-gradient(135deg, #282c34, #3b5998);
            color: #fff;
        }

        .container {
            max-width: 1100px;
            margin: 0 auto;
            padding: 1rem;
        }

        .features {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1.5rem;
            margin-top: 2rem;
        }

        .feature-box {
            background: rgba(255, 255, 255, 0.1);
            padding: 1.5rem;
            border-radius: 10px;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .feature-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        .feature-box i {
            font-size: 3rem;
            color: #f39c12;
            margin-bottom: 1rem;
        }

        .feature-box h3 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
{% endblock style %}

{% block head %}
        <h1>Automated Trading System</h1>
{% endblock head %}

{% block content %}
    <div class="container">
        <section class="features">
            <a href="http://127.0.0.1:8080/portfolio/" target="_blank" style="text-decoration: none; color: inherit;">
                <div class="feature-box">
                    <i class="fas fa-chart-line"></i>
                    <h3>Real-Time Monitoring</h3>
                    <p>Stay updated with my trading systems progress in real-time.</p>
                    <p>Updated daily after market hours</p>
                    <p>1:00 PM PST & 4:00 PM EST</p>
                </div>
            </a>
            <a href="https://github.com/Josue-Castellanos/Automated_Trading_System" target="_blank" style="text-decoration: none; color: inherit;">
                <div class="feature-box"> 
                    <i class="fas fa-cogs"></i>
                    <h3>Automated Trading</h3>
                    <p>Leverage automation for seamless trading execution using my unofficial Charles Schwab Wrapper and Automated Trading System on GitHub.</p>
                    <p></p>
                </div>
            </a>
            <div class="feature-box">
                <i class="fas fa-user-shield"></i>
                <h3>Secure Transactions</h3>
                <p>We ensure the utmost security for your trading activities.</p>
            </div>
        </section>
    </div>
{% endblock content %}
